import AccordionItem from './Accordion.Item'

const Accordion = ({ children }) => {
  const [openItemId, setOpenItemId] = React.useState(null)

  return (
    <AccordionContext.Provider value={{ openItemId, setOpenItemId }}>
      {children}
    </AccordionContext.Provider>
  )
}

Accordion.Item = AccordionItem

export default Accordion
