import React from 'react'
import styled, { keyframes } from 'styled-components'

import likeSpriteSrc from '../../../assets/like-sprite.png'

const LikeSprite = () => {
  return (
    <Wrapper>
      <Img src={likeSpriteSrc} />
    </Wrapper>
  )
}

const backgroundAnimation = keyframes`
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
`

const Wrapper = styled.div`
  width: 72px;
  height: 72px;
  overflow: hidden;
`

const Img = styled.img`
  height: 100%;
  animation:
    ${backgroundAnimation}
    1000ms
    steps(34)
    infinite;
`

export default LikeSprite
